*{
  background-color: #333333;
  font-family: verdana;
}

a:link {
  color: #aaaaaa;
}

a:visited {
  color: #888888;
}

a:hover {
  color: pink;
}

.bot {
  color: #cccccc;
  text-align: left;
}

.chat-history {
  flex-basis: auto;
  flex-grow: 3;
  align-self: center;
}

.center {
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.file-input {
  height: 40px;
  color: #aaaaaa;
  border-color: #333333;
  border-radius: 5px;
  position: relative;
  top: 0px;
  left: 20px;
}

.form-control-dark {
  margin: 5px;
  color: #fff;
  background-color: #333333;
  border-color: #aaa;
  border-radius: 25px;
  padding: 20px;
}

.form-control-dark:focus {
  margin: 5px;
  color: #fff;
  background-color: #383838;
  border-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  padding: 20px;
}

.frame-box {
  margin: 5px;
  border: solid 2px;
  border-color: #aaa;
  padding: 20px;
  border-radius: 25px;
  min-height: 100px;
  max-height: 150px;
  overflow-y: auto;
}

h1 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

.has-error{
  border-color: #ff0000;
  border-style: solid;
}

.item {

}

label {
  font-color: #ffffff;
  color: #ffffff;
}

.nav-bar {
  background-color: #3f3f3f;
  margin: 5px;
  border-radius: 15px;
  padding: 5px;

}

.options-control-dark {
  margin: 5px;
  color: #fff;
  background-color: #333333;
  border-color: #aaa;
  border-radius: 15px;
  padding: 10px;
}

p {
  color: #ffffff;
}

.prompt-options{
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

textarea {
  margin: 5px;
  border: solid 2px;
  border-color: #aaa;
  padding: 20px;
  border-radius: 25px;
  min-height: 100px;
  max-height: 150px;
  overflow-y: auto;
}

.responseStyle {
  border: solid 0.2px blueviolet; padding: 2px;
}

.send-prompt {
  width: 75px;
  height: 40px;
  color: #aaaaaa;
  border-color: #333333;
  border-radius: 15px;
  position: relative;
  top: 0px;
  left: 20px;
}

.send-prompt:hover {
  color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 12px 16px - rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.user {
  color: #ffffff;
  text-align: right;
}
